//// imports
// include animation before app loads
@import '_mixins';
// @layout.scss
//----------------------------
//----------------------------


.layout-container {
    text-align: center;
}

.image-wrap{
    max-width: 60px;
    height: auto;
    my-image{
        img{
            width: 100%;
            height: auto;
        }
    }
}
