// include animation before app loads
@import '_preloader';
// include animation before app loads
@import '_mixins';
// @layout.scss
//----------------------------
//----------------------------

body, html{
    background: #aaa;
}
body{
    overflow-y: hidden;
}

.angular-app-include {
    opacity: 0;
    background: #fff;
}

.ng-enter.ng-enter-active,
.ng-show {
    transition: 0.1s linear all;
    opacity: 1;
}

.ng-enter,
.ng-hide {
    /* standard transition code */
    transition: 0.1s linear all;
    opacity: 0;
}

.fade-in {
    -webkit-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

.layout-container {
    text-align: center;
}

.image-wrap{
    max-width: 60px;
    height: auto;
    my-image{
        img{
            // this will fix the problem of image stacking
            width: 60px;
            height: 60px;
            display: block;
        }
        span.hotImage{
            background-repeat:no-repeat;
            background-position: center center;
            width: 60px;
            height: 60px;
            display: block; 
        }
        display: block;
        height: 60px;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
    }
}
